.course-box {
  max-width: 24rem;
  overflow: hidden;
  border-radius: 0.75rem;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition-duration: 200ms;
}
.course-box:hover {
  scale: 1.05;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  cursor: pointer;
}
img {
  height: auto;
  width: 100%;
}
.blank-img {
  height: 50%;
  width: 100%;
  background-color: rgb(175, 175, 175);
}
.content {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.category-tab {
  display: flex;
  flex-direction: column;
}
.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h4 {
  line-height: 1px;
}
.bottom {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}
