.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: #252424cc;
  height: 100%;
  width: 100vw;
}
.modal {
  z-index: 2000;
  overflow-y: scroll;
  position: fixed;
  width: 80%;
  height: 90%;
  bottom: 15px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
.close-btn-div {
  display: flex;
  justify-items: left;
  justify-content: end;
}
