.course-box {
  max-width: 24rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.25rem;
  border-bottom: 6px solid #7392e4;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  transition: all 0.2s ease-in-out;
  transition-duration: 100ms;
}
.course-box:hover {
  transform: scale(1.007);
  box-shadow: 5px 10px 8px #888888;
}
.card-image {
  height: auto;
  width: 100%;
}
.content {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.empty-category {
  height: 27px;
}
.category-tab {
  display: flex;
  flex-direction: column;
}
.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.courseview-bottom {
  margin: 1rem;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}
